/* font */
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

#root {
  display: flex;
  justify-content: center;
  font-family: "Hanken Grotesk", sans-serif;
}

.app-container {
  background-color: #2d2d2d;
  display: flex;
  width: 600px;
  color: #fff;
}
